/* CSS declarations go here */
.container
{
  padding: 10px;
}

.uniformWidth
{
  width: 150px;
  margin: auto;
}

.insertAmountField {
  display: none !important;
}

.insertAmountField.is-visible {
  display: table !important;
}

.insertAmountField {
  margin-top: 10px;
}
